doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title Hello there!
        link(rel='stylesheet',href='../../../public/css/profile.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js')
        script(src='../../../public/js/profile.js')
        script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js')
        script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.js')
        script(src='http://jquerymy.com/js/md5.js')
    body
        .block
            h3 Hello there
            .text
                ul.text
                    .text
                        label.field User Name:
                        #username.info!= username
                    .text
                        label.field First Name:
                        #first_name.info!= first_name
                    .text
                        label.field Last Name:
                        #last_name.info!= last_name
                    .text
                        label.field Birthdate:
                        #dob.info!= dob
                    .text
                        label.field Street:
                        #address_street.info!= address_street
                    .text
                        label.field City:
                        #address_city.info!= address_city
                    .text
                        label.field State:
                        #address_state.info!= address_state
                    .text
                        label.field Zip:
                        #address_zip.info!= address_zip
                    .text
                        label.field Phone:
                        #primary_phone.info!= primary_phone
                    .text
                        label.field Email:
                        #primary_email.info!= primary_email
                    .text
                        label.plans Active Plans:
                        #plans.plans
        #navigation
            div
                a#login.link(href='/login.html') Log in
            div
                a#signup.link(href='/signup.html') Sign up
            #gravatar.link Gravatar
            div
                a#edit.link(href='/edit.html') Edit
            #logout.link Log out
            div
                a#plan.link(href='/plan.html') New Plan
